@charset "utf-8";
/* CSS Document */
p {
	margin-top: 0px;
}

fieldset {
	margin-bottom: 15px;
	padding: 10px;
}

legend {
	padding: 0px 3px;
	font-weight: bold;
	font-variant: small-caps;
	text-align: left;
}

label {
	width: 210px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 6px;
}

label.mail {
	width: auto;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 6px;
}

label.index {
	width: 90px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 6px;
}

input[type=text], input[type=password],input[type=number],input[type=tel],input[type=date],input[type=time] {
	width: 200px;
}



